.main-content .articles-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  list-style: none;
  padding: 0;
  margin: 0;

  font-family: Lato,Arial,sans-serif !important;
  font-weight: 300 !important;
  line-height: 1.7 !important;
  color: #111 !important;
  font-size: calc(14px + .25vw) !important;
}

.main-content .articles-list .post {
    margin: 1em;
}

.main-content .articles-list .post .image.featured img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .1) 
    
}

.main-content .articles-list .post .post-meta {
    display: block;
    margin-bottom: 1em;

    font-size: 80%;
    font-weight: 500;
}

.main-content .articles-list .post .post-title {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  color: black;
  text-transform: capitalize;
  margin-bottom: 1em;

  font-size: 2em !important;
  font-weight: 900 !important;
  line-height: 1.4 !important;
  border-width: .1em !important;
  font-family: "Fira Sans",Playfair Display,Georgia,serif !important;
  font-weight: 600 !important;
}

.main-content .articles-list .post .post-summary {
  font-size: 90%;
  margin-bottom: 1em;
}


@media screen and (max-width: 1200px) {
  .main-content .articles-list {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 1024px) {
  .main-content .articles-list {
    grid-template-columns: repeat(2, 1fr);
    
  }
}


@media screen and (max-width: 480px) {
  .main-content .articles-list {
    grid-template-columns: repeat(1, 1fr);
    
  }
}