@import url(./_header.css);
@import url(./_site-logo.css);
@import url(./_main-content.css);
@import url(./_aside.css);
@import url(./_footer.css);

@import url(./_static.css);
@import url(./_post.css);


.site {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 3.5fr .2fr;
    grid-template-rows: 1.3fr 4.7fr 1fr ;

    min-width: 320px;
}
.header {
    grid-column: 2/3; 
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo {
    grid-column: 1/2; 
    grid-row: 1/2
}
.aside {
    grid-column: 1/2; 
    grid-row: 2/3
}
.footer {
    grid-column: 1/2; 
    grid-row: 3/4
}
.main-aside {
    position: fixed;
    display: grid;
    grid-template-rows: 1.3fr 4.7fr 1fr ;

    height: 100%;
    width: calc(100% * 1.3 / calc(4.7 + 1 + 1.3))
}

.main-content {
    grid-column: 2/3; 
    grid-row: 2/4
}

input, textarea, button {
    border: 1px solid #b2b6b8;    
}
input:focus, textarea:focus, button:focus {
    border: 1px solid transparent;
    outline: 1px solid rgba(46, 46, 46, 0.623);
}

@media screen and (max-width: 1200px) {
    .site {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        height: 100vh;
        padding: 0;
        margin: 0;
    
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        grid-template-rows: 1.3fr 4.7fr 1fr ;
    }
    
    .main-aside {
        position: fixed;
        display: grid;
        grid-template-rows: 1.3fr 4.7fr 1fr ;
    
        height: 100%;
        width: calc(100% * 1.3 / calc(4.7 + 1 + 1.3) + 5em) ;
    }
}

@media screen and (max-width: 1024px) {
    .main-aside {
        position: fixed;
        display: grid;
        grid-template-rows: 1.3fr 4.7fr 1fr ;
    
        height: 100%;
        width: calc(100% * 1.3 / calc(4.7 + 1 + 1.3) + 3em) ;
    }
}

@media screen and (max-width: 650px) {
    
    .site {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        height: 100vh;
        padding: 0;
        margin: 0;
    
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: .6fr 4.7fr 1fr ;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }


    .main-aside {
        position: fixed;
        display: grid;

        grid-template-rows: 1.3fr 4.7fr 1fr ;
    
        height: 100%;
        width: 75%;
        left: -100%;
        background: white;
        z-index: 1;
        box-shadow: 0 0 6px black;
    }

    .main-aside#side-menu.active {
        animation: toggle-menu .5s ease-out forwards;
    }

    
    
    
}

@media screen and (max-width: 480px) {
 
}

@keyframes toggle-menu {
    from {
        left: -100%;
    }
    to {
        left:0;
    }
    
}